@model Category
@{
    ViewData["Title"] = "Add";
}
<section class="slider_section">
    <br> <br> <br> <br> <br>  <br> <br> <br>
</section>

<div class="container">
    <main role="main" class="pb-3">
        <h1 class="text-center">Add Category</h1>
        <h4 class="text-secondary">Add Category</h4>
        <hr />

        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="SaveNew" method="post" asp-controller="Category">
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>


                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter category name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-success btn-lg" />
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-4 text-center">
            <a asp-action="GetAll" asp-controller="Category" class="btn btn-secondary">Back to Books</a>
        </div>
    </main>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
