@{
    ViewData["Title"] = "NotFound";
}
<section class="slider_section">
    <br> <br> <br> <br> <br>  <br> <br> <br>
</section>

<div class="container text-center mt-5">
    <div class="alert alert-danger p-5 rounded shadow">
        <h1 class="display-4">Book Not Found</h1>
        <p class="lead">It seems like the book you're looking for doesn't exist.</p>
        <a asp-action="GetAll" asp-controller="Category" class="btn btn-primary mt-3">Back to Books Page</a>
    </div>
</div>

<section class="slider_section">
    <br> <br> <br> <br> <br> <br>
</section>
